@charset 'utf-8';

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ui-dark text-white;
}

.scene-container {
  @apply relative shadow-lg h-full w-full max-w-screen-xl mx-auto;
  max-height: 600px;
}
